.content
  = render partial: 'common/sider', locals: {groups: @groups}
  .content__right
    .content__right--header
      = link_to edit_group_path(@group) do
        .content__right--header--edit
          .content__right--header--edit--form
            Edit
      .content__right--header--name
        = @group.name
        .content__right--header--user
          - if @users.present?
            member
            - @users.each do |user|
              = user.name
    .content__right--body
      - if @messages.present?
        = render @messages
    .content__right--bottom
      = form_for [@group, @message], html: { class: 'js-form' } do |f|
        = f.text_field :text, placeholder: 'type a message', value: '', class: 'form__text-field js-form__text-field'
        %label.right-box__send--image
          = f.file_field :image
          %i.fa.fa-photo
        = f.submit 'Sent', class: 'form'
