.content
  = render partial: 'common/sider', locals: {groups: @groups}
  .content__right
    .content__right--header
      = link_to edit_group_path(@group) do
        .content__right--header--edit
          .content__right--header--edit--form
            Edit
      .content__right--header--name
        = @group.name
        .content__right--header--user
          member
          - @users.each do |user|
            = user.name
    .content__right--body
      = render partial: 'common/chat', locals: {message: @messages}
    .content__right--bottom
      = form_for [@group, @message] do |f|
        = f.text_field :text, placeholder: 'type a message', value: ''
        %i.fa.fa-photo
        = f.submit 'Sent', class: 'form'
